In [13]:
import pandas as pd

In [14]:
# print working directory
%pwd

'C:\\Users\\mr000103\\python\\fertiliser_data'

In [15]:
# read in comtrade fertiliser exports to world
comtrade_fert_exp_to_world = pd.read_csv("input_data/comtrade_fertiliser_exports_to_world.csv")

In [5]:
comtrade_fert_exp_to_world.head(12)

,TypeCode,FreqCode,RefPeriodId,RefYear,RefMonth,Period,ReporterCode,ReporterISO,ReporterDesc,FlowCode,...,NetWgt,IsNetWgtEstimated,GrossWgt,IsGrossWgtEstimated,Cifvalue,Fobvalue,PrimaryValue,LegacyEstimationFlag,IsReported,IsAggregate
0,C,A,20210101,2021,52,2021,97,EUR,European Union,X,...,1.839216e+09,True,0,False,NaN,6.131576e+08,6.131576e+08,6,False,True
1,C,A,20210101,2021,52,2021,97,EUR,European Union,X,...,7.458724e+08,True,0,False,NaN,2.888812e+08,2.888812e+08,6,False,True
2,C,A,20210101,2021,52,2021,826,GBR,United Kingdom,X,...,0.000000e+00,False,0,False,0.0,1.174935e+07,1.174935e+07,0,False,True
3,C,A,20210101,2021,52,2021,826,GBR,United Kingdom,X,...,1.615509e+08,False,0,False,0.0,5.027642e+07,5.027642e+07,0,False,True
4,C,A,20220101,2022,52,2022,97,EUR,European Union,X,...,1.553076e+09,True,0,False,NaN,1.010012e+09,1.010012e+09,6,False,True
5,C,A,20220101,2022,52,2022,97,EUR,European Union,X,...,7.096698e+08,False,0,False,NaN,5.829620e+08,5.829620e+08,0,False,True
6,C,A,20220101,2022,52,2022,826,GBR,United Kingdom,X,...,NaN,False,0,False,NaN,3.372117e+07,3.372117e+07,0,False,True
7,C,A,20220101,2022,52,2022,826,GBR,United Kingdom,X,...,1.146202e+08,False,0,False,NaN,9.010982e+07,9.010982e+07,0,False,True
8,C,A,20230101,2023,52,2023,97,EUR,European Union,X,...,1.504349e+09,True,0,False,NaN,5.756078e+08,5.756078e+08,6,False,True
9,C,A,20230101,2023,52,2023,97,EUR,European Union,X,...,8.372947e+08,True,0,False,NaN,4.248094e+08,4.248094e+08,6,False,True
10,C,A,20230101,2023,52,2023,826,GBR,United Kingdom,X,...,NaN,False,0,False,NaN,1.712806e+07,1.712806e+07,0,False,True
11,C,A,20230101,2023,52,2023,826,GBR,United Kingdom,X,...,2.569802e+07,False,0,False,NaN,1.287326e+07,1.287326e+07,0,False,True

In [5]:
comtrade_fert_exp_to_world.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 47 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   TypeCode                  12 non-null     object
 1   FreqCode                  12 non-null     object
 2   RefPeriodId               12 non-null     int64
 3   RefYear                   12 non-null     int64
 4   RefMonth                  12 non-null     int64
 5   Period                    12 non-null     int64
 6   ReporterCode              12 non-null     int64
 7   ReporterISO               12 non-null     object
 8   ReporterDesc              12 non-null     object
 9   FlowCode                  12 non-null     object
 10  FlowDesc                  12 non-null     object
 11  PartnerCode               12 non-null     int64
 12  PartnerISO                12 non-null     object
 13  PartnerDesc               12 non-null     object
 14  Partner2Code              12 non-null     int64
 15  Partner2ISO               12 non-null     object
 16  Partner2Desc              12 non-null     object
 17  ClassificationCode        12 non-null     object
 18  ClassificationSearchCode  12 non-null     object
 19  IsOriginalClassification  12 non-null     bool
 20  CmdCode                   12 non-null     int64
 21  CmdDesc                   12 non-null     object
 22  AggrLevel                 12 non-null     int64
 23  IsLeaf                    12 non-null     bool
 24  CustomsCode               12 non-null     object
 25  CustomsDesc               12 non-null     object
 26  MosCode                   12 non-null     int64
 27  MotCode                   12 non-null     int64
 28  MotDesc                   12 non-null     object
 29  QtyUnitCode               12 non-null     int64
 30  QtyUnitAbbr               9 non-null      object
 31  Qty                       12 non-null     float64
 32  IsQtyEstimated            12 non-null     bool
 33  AltQtyUnitCode            12 non-null     int64
 34  AltQtyUnitAbbr            4 non-null      object
 35  AltQty                    12 non-null     int64
 36  IsAltQtyEstimated         12 non-null     bool
 37  NetWgt                    10 non-null     float64
 38  IsNetWgtEstimated         12 non-null     bool
 39  GrossWgt                  12 non-null     int64
 40  IsGrossWgtEstimated       12 non-null     bool
 41  Cifvalue                  2 non-null      float64
 42  Fobvalue                  12 non-null     float64
 43  PrimaryValue              12 non-null     float64
 44  LegacyEstimationFlag      12 non-null     int64
 45  IsReported                12 non-null     bool
 46  IsAggregate               12 non-null     bool
dtypes: bool(8), float64(5), int64(16), object(18)
memory usage: 3.9+ KB

In [16]:
# drop unnecessary columns
# we want to keep:
# year = Period;
# country = ReporterDesc;
# country_code = ReporterCode;
# country_iso3 = ReporterISO;
# flow = FlowCode; #and change this value from "X" to "export"
# volume_tonnes = NetWgt;
# value_usd = PrimaryValue

#Step 1 is to select a subset of columns
comtrade_fert_exp_to_world_clean = comtrade_fert_exp_to_world[["Period", "ReporterDesc", "ReporterCode", "ReporterISO", "FlowCode", "PartnerDesc", "PartnerCode", "PartnerISO", "CmdCode", "CmdDesc", "NetWgt", "PrimaryValue"]]

comtrade_fert_exp_to_world_clean.sample()

,Period,ReporterDesc,ReporterCode,ReporterISO,FlowCode,PartnerDesc,PartnerCode,PartnerISO,CmdCode,CmdDesc,NetWgt,PrimaryValue
9,2023,European Union,97,EUR,X,World,0,W00,310230,"Fertilizers, mineral or chemical; nitrogenous,...",837294705.3,424809354.4

In [17]:
# Step 2 is to rename the columns
comtrade_fert_exp_to_world = comtrade_fert_exp_to_world_clean.rename(columns={'Period': 'year', 
                                                'ReporterDesc': 'country',
                                                'ReporterCode': 'country_code',
                                                'ReporterISO': 'country_iso3',
                                                'FlowCode': 'flow',
                                                'PartnerDesc': 'partner_country', 
                                                'PartnerCode': 'partner_country_code', 
                                                'PartnerISO': 'partner_country_iso3',
                                                'CmdCode': 'hs6',
                                                'CmdDesc': 'hs6_description',                            
                                                'NetWgt': 'volume_tonnes',
                                                'PrimaryValue': 'value_usd'})

In [8]:
comtrade_fert_exp_to_world.head()

,year,country,country_code,country_iso3,flow,partner_country,partner_country_code,partner_country_iso3,hs6,hs6_description,volume_tonnes,value_usd
0,2021,European Union,97,EUR,X,World,0,W00,310210,"Fertilizers, mineral or chemical; nitrogenous,...",1.839216e+09,6.131576e+08
1,2021,European Union,97,EUR,X,World,0,W00,310230,"Fertilizers, mineral or chemical; nitrogenous,...",7.458724e+08,2.888812e+08
2,2021,United Kingdom,826,GBR,X,World,0,W00,310210,"Fertilizers, mineral or chemical; nitrogenous,...",0.000000e+00,1.174935e+07
3,2021,United Kingdom,826,GBR,X,World,0,W00,310230,"Fertilizers, mineral or chemical; nitrogenous,...",1.615509e+08,5.027642e+07
4,2022,European Union,97,EUR,X,World,0,W00,310210,"Fertilizers, mineral or chemical; nitrogenous,...",1.553076e+09,1.010012e+09

In [18]:
comtrade_fert_exp_to_world.loc[:, 'flow'] = 'export'

In [19]:
# read in the comtrade fertiliser imports data
comtrade_fert_imports = pd.read_csv("input_data/comtrade_fertiliser_imports.csv")

In [20]:
comtrade_fert_imports.head()

,TypeCode,FreqCode,RefPeriodId,RefYear,RefMonth,Period,ReporterCode,ReporterISO,ReporterDesc,FlowCode,...,NetWgt,IsNetWgtEstimated,GrossWgt,IsGrossWgtEstimated,Cifvalue,Fobvalue,PrimaryValue,LegacyEstimationFlag,IsReported,IsAggregate
0,C,A,20210101,2021,52,2021,97,EUR,European Union,M,...,4.688919e+09,True,0,False,2.181225e+09,NaN,2.181225e+09,6,False,True
1,C,A,20210101,2021,52,2021,97,EUR,European Union,M,...,2.400000e+04,False,0,False,2.104726e+04,NaN,2.104726e+04,0,False,True
2,C,A,20210101,2021,52,2021,97,EUR,European Union,M,...,9.627253e+08,False,0,False,4.698634e+08,NaN,4.698634e+08,0,False,True
3,C,A,20210101,2021,52,2021,97,EUR,European Union,M,...,5.963522e+07,False,0,False,3.649805e+07,NaN,3.649805e+07,0,False,True
4,C,A,20210101,2021,52,2021,97,EUR,European Union,M,...,2.600000e+01,False,0,False,3.369930e+02,NaN,3.369930e+02,0,False,True

In [21]:
comtrade_fert_imports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 47 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   TypeCode                  367 non-null    object
 1   FreqCode                  367 non-null    object
 2   RefPeriodId               367 non-null    int64
 3   RefYear                   367 non-null    int64
 4   RefMonth                  367 non-null    int64
 5   Period                    367 non-null    int64
 6   ReporterCode              367 non-null    int64
 7   ReporterISO               367 non-null    object
 8   ReporterDesc              367 non-null    object
 9   FlowCode                  367 non-null    object
 10  FlowDesc                  367 non-null    object
 11  PartnerCode               367 non-null    int64
 12  PartnerISO                367 non-null    object
 13  PartnerDesc               367 non-null    object
 14  Partner2Code              367 non-null    int64
 15  Partner2ISO               367 non-null    object
 16  Partner2Desc              367 non-null    object
 17  ClassificationCode        367 non-null    object
 18  ClassificationSearchCode  367 non-null    object
 19  IsOriginalClassification  367 non-null    bool
 20  CmdCode                   367 non-null    int64
 21  CmdDesc                   367 non-null    object
 22  AggrLevel                 367 non-null    int64
 23  IsLeaf                    367 non-null    bool
 24  CustomsCode               367 non-null    object
 25  CustomsDesc               367 non-null    object
 26  MosCode                   367 non-null    int64
 27  MotCode                   367 non-null    int64
 28  MotDesc                   367 non-null    object
 29  QtyUnitCode               367 non-null    int64
 30  QtyUnitAbbr               355 non-null    object
 31  Qty                       367 non-null    float64
 32  IsQtyEstimated            367 non-null    bool
 33  AltQtyUnitCode            367 non-null    int64
 34  AltQtyUnitAbbr            327 non-null    object
 35  AltQty                    367 non-null    int64
 36  IsAltQtyEstimated         367 non-null    bool
 37  NetWgt                    357 non-null    float64
 38  IsNetWgtEstimated         367 non-null    bool
 39  GrossWgt                  367 non-null    int64
 40  IsGrossWgtEstimated       367 non-null    bool
 41  Cifvalue                  367 non-null    float64
 42  Fobvalue                  40 non-null     float64
 43  PrimaryValue              367 non-null    float64
 44  LegacyEstimationFlag      367 non-null    int64
 45  IsReported                367 non-null    bool
 46  IsAggregate               367 non-null    bool
dtypes: bool(8), float64(5), int64(16), object(18)
memory usage: 114.8+ KB

In [22]:
comtrade_fert_imports_clean = comtrade_fert_imports[["Period", "ReporterDesc", "ReporterCode", "ReporterISO", "FlowCode", "PartnerDesc", "PartnerCode", "PartnerISO", "CmdCode", "CmdDesc", "NetWgt", "PrimaryValue"]]
comtrade_fert_imports_clean.head()

,Period,ReporterDesc,ReporterCode,ReporterISO,FlowCode,PartnerDesc,PartnerCode,PartnerISO,CmdCode,CmdDesc,NetWgt,PrimaryValue
0,2021,European Union,97,EUR,M,World,0,W00,310210,"Fertilizers, mineral or chemical; nitrogenous,...",4.688919e+09,2.181225e+09
1,2021,European Union,97,EUR,M,Albania,8,ALB,310210,"Fertilizers, mineral or chemical; nitrogenous,...",2.400000e+04,2.104726e+04
2,2021,European Union,97,EUR,M,Algeria,12,DZA,310210,"Fertilizers, mineral or chemical; nitrogenous,...",9.627253e+08,4.698634e+08
3,2021,European Union,97,EUR,M,Azerbaijan,31,AZE,310210,"Fertilizers, mineral or chemical; nitrogenous,...",5.963522e+07,3.649805e+07
4,2021,European Union,97,EUR,M,Argentina,32,ARG,310210,"Fertilizers, mineral or chemical; nitrogenous,...",2.600000e+01,3.369930e+02

In [23]:
comtrade_fert_imports = comtrade_fert_imports_clean.rename(columns={'Period': 'year', 
                                                'ReporterDesc': 'country',
                                                'ReporterCode': 'country_code',
                                                'ReporterISO': 'country_iso3',
                                                'FlowCode': 'flow',
                                                'PartnerDesc': 'partner_country', 
                                                'PartnerCode': 'partner_country_code', 
                                                'PartnerISO': 'partner_country_iso3',
                                                'CmdCode': 'hs6',
                                                'CmdDesc': 'hs6_description',                     
                                                'NetWgt': 'volume_tonnes',
                                                'PrimaryValue': 'value_usd'})

In [24]:
comtrade_fert_imports["year"].unique()

array([2021, 2022, 2023], dtype=int64)

In [25]:
comtrade_fert_imports.loc[:, 'flow'] = 'import'

comtrade_fert_imports.head()

,year,country,country_code,country_iso3,flow,partner_country,partner_country_code,partner_country_iso3,hs6,hs6_description,volume_tonnes,value_usd
0,2021,European Union,97,EUR,import,World,0,W00,310210,"Fertilizers, mineral or chemical; nitrogenous,...",4.688919e+09,2.181225e+09
1,2021,European Union,97,EUR,import,Albania,8,ALB,310210,"Fertilizers, mineral or chemical; nitrogenous,...",2.400000e+04,2.104726e+04
2,2021,European Union,97,EUR,import,Algeria,12,DZA,310210,"Fertilizers, mineral or chemical; nitrogenous,...",9.627253e+08,4.698634e+08
3,2021,European Union,97,EUR,import,Azerbaijan,31,AZE,310210,"Fertilizers, mineral or chemical; nitrogenous,...",5.963522e+07,3.649805e+07
4,2021,European Union,97,EUR,import,Argentina,32,ARG,310210,"Fertilizers, mineral or chemical; nitrogenous,...",2.600000e+01,3.369930e+02

In [26]:
comtrade_fertiliser_trade = pd.concat([comtrade_fert_imports, comtrade_fert_exp_to_world])

In [27]:
comtrade_fertiliser_trade.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 379 entries, 0 to 11
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year                  379 non-null    int64
 1   country               379 non-null    object
 2   country_code          379 non-null    int64
 3   country_iso3          379 non-null    object
 4   flow                  379 non-null    object
 5   partner_country       379 non-null    object
 6   partner_country_code  379 non-null    int64
 7   partner_country_iso3  379 non-null    object
 8   hs6                   379 non-null    int64
 9   hs6_description       379 non-null    object
 10  volume_tonnes         367 non-null    float64
 11  value_usd             379 non-null    float64
dtypes: float64(2), int64(4), object(6)
memory usage: 38.5+ KB

In [28]:
# read in the FAOSTAT fertiliser production and use data
faostat_fert_prod_use = pd.read_csv("input_data/faostat_fertiliser_production_and_use.csv")

In [29]:
faostat_fert_prod_use.head()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,RFB,Fertilizers by Product,40,Austria,5157,Agricultural Use,4004,Calcium ammonium nitrate (CAN) and other mixtu...,2005,2005,t,211808.0,A,Official figure
1,RFB,Fertilizers by Product,40,Austria,5157,Agricultural Use,4004,Calcium ammonium nitrate (CAN) and other mixtu...,2006,2006,t,210896.0,A,Official figure
2,RFB,Fertilizers by Product,40,Austria,5157,Agricultural Use,4004,Calcium ammonium nitrate (CAN) and other mixtu...,2007,2007,t,190600.0,A,Official figure
3,RFB,Fertilizers by Product,40,Austria,5157,Agricultural Use,4004,Calcium ammonium nitrate (CAN) and other mixtu...,2008,2008,t,178000.0,A,Official figure
4,RFB,Fertilizers by Product,40,Austria,5157,Agricultural Use,4004,Calcium ammonium nitrate (CAN) and other mixtu...,2009,2009,t,200000.0,A,Official figure

In [30]:
faostat_fert_prod_use.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1648 entries, 0 to 1647
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       1648 non-null   object
 1   Domain            1648 non-null   object
 2   Area Code (M49)   1648 non-null   int64
 3   Area              1648 non-null   object
 4   Element Code      1648 non-null   int64
 5   Element           1648 non-null   object
 6   Item Code         1648 non-null   int64
 7   Item              1648 non-null   object
 8   Year Code         1648 non-null   int64
 9   Year              1648 non-null   int64
 10  Unit              1648 non-null   object
 11  Value             1648 non-null   float64
 12  Flag              1648 non-null   object
 13  Flag Description  1648 non-null   object
dtypes: float64(1), int64(5), object(8)
memory usage: 180.4+ KB

In [31]:
faostat_fert_prod_use['Year'].unique()

array([2005, 2006, 2007, 2008, 2009, 2010, 2011, 2016, 2017, 2018, 2019,
       2020, 2021, 2003, 2013, 2014, 2015, 2004, 2012, 2002], dtype=int64)

In [32]:
# drop unnecessary columns
faostat_fert_prod_use_clean = faostat_fert_prod_use[['Area', 'Area Code (M49)', 'Element', 'Year', 'Item Code', 'Item', 'Value']]

In [33]:
faostat_fert_prod_use_clean.head()

,Area,Area Code (M49),Element,Year,Item Code,Item,Value
0,Austria,40,Agricultural Use,2005,4004,Calcium ammonium nitrate (CAN) and other mixtu...,211808.0
1,Austria,40,Agricultural Use,2006,4004,Calcium ammonium nitrate (CAN) and other mixtu...,210896.0
2,Austria,40,Agricultural Use,2007,4004,Calcium ammonium nitrate (CAN) and other mixtu...,190600.0
3,Austria,40,Agricultural Use,2008,4004,Calcium ammonium nitrate (CAN) and other mixtu...,178000.0
4,Austria,40,Agricultural Use,2009,4004,Calcium ammonium nitrate (CAN) and other mixtu...,200000.0

In [34]:
faostat_fert_prod_use = faostat_fert_prod_use_clean.rename(columns = {'Area': 'country',
                                                                     'Area Code (M49)': 'country_code_m49',
                                                                     'Element': 'variable',
                                                                     'Year': 'year',
                                                                      'Item Code': 'fertiliser_type_code',
                                                                      'Item': 'fertiliser_type',
                                                                      'Value': 'volume_tonnes'})

In [35]:
faostat_fert_prod_use.head()

,country,country_code_m49,variable,year,fertiliser_type_code,fertiliser_type,volume_tonnes
0,Austria,40,Agricultural Use,2005,4004,Calcium ammonium nitrate (CAN) and other mixtu...,211808.0
1,Austria,40,Agricultural Use,2006,4004,Calcium ammonium nitrate (CAN) and other mixtu...,210896.0
2,Austria,40,Agricultural Use,2007,4004,Calcium ammonium nitrate (CAN) and other mixtu...,190600.0
3,Austria,40,Agricultural Use,2008,4004,Calcium ammonium nitrate (CAN) and other mixtu...,178000.0
4,Austria,40,Agricultural Use,2009,4004,Calcium ammonium nitrate (CAN) and other mixtu...,200000.0

In [48]:
# take a mean over time of the faostat fertiliser use and production data
faostat_fert_prod_use_mean = faostat_fert_prod_use.groupby(by=['country', 
                                                               "country_code_m49", 
                                                               "variable", 
                                                               "fertiliser_type_code", 
                                                               "fertiliser_type"], 
                                                           as_index=False)['volume_tonnes'].mean()

In [49]:
faostat_fert_prod_use_mean.head()

,country,country_code_m49,variable,fertiliser_type_code,fertiliser_type,volume_tonnes
0,Austria,40,Agricultural Use,4001,Urea,27549.541538
1,Austria,40,Agricultural Use,4004,Calcium ammonium nitrate (CAN) and other mixtu...,225109.168462
2,Austria,40,Agricultural Use,4006,Urea and ammonium nitrate solutions (UAN),2746.046923
3,Bulgaria,100,Agricultural Use,4001,Urea,83635.714286
4,Bulgaria,100,Agricultural Use,4003,Ammonium nitrate (AN),66216.333333

In [50]:
comtrade_fertiliser_trade.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 379 entries, 0 to 11
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year                  379 non-null    int64
 1   country               379 non-null    object
 2   country_code          379 non-null    int64
 3   country_iso3          379 non-null    object
 4   flow                  379 non-null    object
 5   partner_country       379 non-null    object
 6   partner_country_code  379 non-null    int64
 7   partner_country_iso3  379 non-null    object
 8   hs6                   379 non-null    int64
 9   hs6_description       379 non-null    object
 10  volume_tonnes         367 non-null    float64
 11  value_usd             379 non-null    float64
dtypes: float64(2), int64(4), object(6)
memory usage: 38.5+ KB

In [57]:
# take a mean over time of the comtrade fertiliser trade data
comtrade_fertiliser_trade_mean = comtrade_fertiliser_trade.groupby(by = ['country',
                                                                         'country_code', 
                                                                         'country_iso3', 
                                                                         'flow', 
                                                                         'partner_country', 
                                                                         'partner_country_code', 
                                                                         'partner_country_iso3',
                                                                         'hs6',
                                                                         'hs6_description'], 
                                                                   as_index=False)[['volume_tonnes', 'value_usd']].mean()

In [58]:
comtrade_fertiliser_trade_mean.head()

,country,country_code,country_iso3,flow,partner_country,partner_country_code,partner_country_iso3,hs6,hs6_description,volume_tonnes,value_usd
0,European Union,97,EUR,export,World,0,W00,310210,"Fertilizers, mineral or chemical; nitrogenous,...",1.632214e+09,7.329257e+08
1,European Union,97,EUR,export,World,0,W00,310230,"Fertilizers, mineral or chemical; nitrogenous,...",7.642790e+08,4.322175e+08
2,European Union,97,EUR,import,Albania,8,ALB,310210,"Fertilizers, mineral or chemical; nitrogenous,...",2.400000e+04,2.104726e+04
3,European Union,97,EUR,import,Algeria,12,DZA,310210,"Fertilizers, mineral or chemical; nitrogenous,...",1.086935e+09,6.449878e+08
4,European Union,97,EUR,import,Andorra,20,AND,310210,"Fertilizers, mineral or chemical; nitrogenous,...",2.544000e+04,1.283350e+04

In [59]:
# remove unnecessary dataframes
del([comtrade_fert_exp_to_world, comtrade_fert_exp_to_world_clean, comtrade_fert_imports, comtrade_fert_imports_clean, faostat_fert_prod_use_clean])