In [1]:
import pandas as pd

In [2]:
# print working directory
%pwd

'C:\\Users\\mr000103\\python\\fertiliser'

In [5]:
# read in comtrade fertiliser exports to world
comtrade_fert_exp_to_world = pd.read_csv("input_data/comtrade_fertiliser_exports_to_world.csv")

In [12]:
comtrade_fert_exp_to_world.head()

,TypeCode,FreqCode,RefPeriodId,RefYear,RefMonth,Period,ReporterCode,ReporterISO,ReporterDesc,FlowCode,...,NetWgt,IsNetWgtEstimated,GrossWgt,IsGrossWgtEstimated,Cifvalue,Fobvalue,PrimaryValue,LegacyEstimationFlag,IsReported,IsAggregate
0,C,A,20210101,2021,52,2021,97,EUR,European Union,X,...,1.839216e+09,True,0,False,NaN,6.131576e+08,6.131576e+08,6,False,True
1,C,A,20210101,2021,52,2021,97,EUR,European Union,X,...,7.458724e+08,True,0,False,NaN,2.888812e+08,2.888812e+08,6,False,True
2,C,A,20210101,2021,52,2021,826,GBR,United Kingdom,X,...,0.000000e+00,False,0,False,0.0,1.174935e+07,1.174935e+07,0,False,True
3,C,A,20210101,2021,52,2021,826,GBR,United Kingdom,X,...,1.615509e+08,False,0,False,0.0,5.027642e+07,5.027642e+07,0,False,True
4,C,A,20220101,2022,52,2022,97,EUR,European Union,X,...,1.553076e+09,True,0,False,NaN,1.010012e+09,1.010012e+09,6,False,True

In [ ]:
# we want to keep:
# year = Period;
# country = ReporterDesc;
# country_code = ReporterCode;
# country_iso3 = ReporterISO;
# flow = FlowCode; #and change this value from "X" to "export"
# volume_tonnes = NetWgt;
# value_usd = PrimaryValue

In [10]:
# read in the comtrade fertiliser imports data
comtrade_fert_imports = pd.read_csv("input_data/comtrade_fertiliser_imports.csv")

In [11]:
# read in the FAOSTAT fertiliser production and use data
faostat_fert_prod_use = pd.read_csv("input_data/faostat_fertiliser_production_and_use.csv")

In [ ]:
# drop unnecessary columns

In [ ]:
# check units are consistent

In [ ]:
# join the dataframes together

In [ ]:
# summarise / aggregate over time to create average values

In [ ]:
# define the objects needed to plug in to the model